@font-face {
  font-family: 'VT323';
  font-style: normal;
  src: url(VT323.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
  --bg-col: #28322e;
  --fg-col: #ebd3c9;
  --pad: 16px;
  font-size: 24px;
  font-family: 'VT323', monospace;
  font-variant-ligatures: none;
  user-select: none;
  -moz-user-select: none;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg-col);
  color: var(--fg-col);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.bordered {
  border: solid 2px var(--fg-col);
  padding: calc(var(--pad) / 2);
  margin: calc(var(--pad) / 2);
}

#terminal {
  position: absolute;
  width: 60%;
  height: 50%;
  background-color: black;
  overflow: auto;
  outline: none;
  cursor: text;
}

#terminal::-webkit-scrollbar {
  width: calc(var(--pad) / 2);
  background-color: black;
}

#terminal::-webkit-scrollbar-thumb {
  background-color: var(--fg-col);
}

#log {
  margin: 0;
  padding: 0;
  width: calc(100% - 2 * var(--pad));
  color: var(--fg-col);
}

#lines {
  margin:0;
  padding-left:0;
  list-style-type: none;
}

#lines > li, #input {
  white-space: pre-wrap;
  line-height: 30px;
}

#caret {
  color: black;
  background-color: black;
}

#caret.blink {
  animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
  50% {
    color: var(--fg-col);
    background-color: var(--fg-col);
  }
}

.svg-icon {
  margin-bottom: -.2em;
  height: 1em;
}

.weather {
  height: 1em;
  width: 1em;
  display: inline-block;
  background-color: var(--fg-col);
  -webkit-mask-size: 2em;
  mask-size: 2em;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  vertical-align: text-bottom;
}

.weather.clear-day {
  -webkit-mask-image: url(weather/clear-day.svg);
  mask-image: url(weather/clear-day.svg);
}

.weather.clear-night {
  -webkit-mask-image: url(weather/clear-night.svg);
  mask-image: url(weather/clear-night.svg);
}

.weather.cloudy {
  -webkit-mask-image: url(weather/cloudy.svg);
  mask-image: url(weather/cloudy.svg);
}

.weather.fog {
  -webkit-mask-image: url(weather/fog.svg);
  mask-image: url(weather/fog.svg);
}

.weather.partly-cloudy-day {
  -webkit-mask-image: url(weather/partly-cloudy-day.svg);
  mask-image: url(weather/partly-cloudy-day.svg);
}

.weather.partly-cloudy-night {
  -webkit-mask-image: url(weather/partly-cloudy-night.svg);
  mask-image: url(weather/partly-cloudy-night.svg);
}

.weather.rain {
  -webkit-mask-image: url(weather/rain.svg);
  mask-image: url(weather/rain.svg);
}

.weather.sleet {
  -webkit-mask-image: url(weather/sleet.svg);
  mask-image: url(weather/sleet.svg);
}

.weather.snow {
  -webkit-mask-image: url(weather/snow.svg);
  mask-image: url(weather/snow.svg);
}

.weather.wind {
  -webkit-mask-image: url(weather/wind.svg);
  mask-image: url(weather/wind.svg);
}
